/*
  1. Use a more-intuitive box-sizing model.
*/
/* *,
*::before,
*::after {
    box-sizing: border-box;
} */
/*
    2. Remove default margin
  */
* {
    margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
html,
body {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

.d-grid-5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    margin: 10px 0;
}

.d-grid-5 div h4 {
    text-align: center;
}

.wrap {
    margin-inline: auto;
    max-width: 80%;
}

.statement-custom-radios {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.statement-custom-radios:nth-child(even) {
    background-color: #fdfdf6;
}

.statement-custom-radios:nth-child(odd) {
    background-color: #f3fbffc0;
}

.survey-options {
    position: sticky;
    top: 0;
    background: rgba(210, 233, 244, 0.633);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    z-index: 2;
    padding: 20px;
    margin-bottom: 10px;
}

.custom-radios {
    display: flex;
    flex-direction: column;
}

.custom-radios input[type="radio"] {
    display: none;
}

.custom-radios input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: flex;
    cursor: pointer;
    margin-block: 10px;
    align-items: center;
}

.custom-radios input[type="radio"] + label:hover {
    color: #000000;
    font-weight: 700;
    transition: all 0.3s ease;
}

.custom-radios input[type="radio"] + label span {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #4d4d4d;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 41px;
    font-size: 12px;
    position: relative;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.custom-radios input[type="radio"] + label span img {
    opacity: 0;
    transition: all 0.3s ease;
    width: 100%;
    position: absolute;
    top: -1px;
    left: 1px;
}

.custom-radios input[type="radio"]:checked + label span img {
    opacity: 1;
}

.custom-radios input[type="radio"]:checked + label span {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

form {
    margin-block: 40px;
}

form button {
    font-size: 18px;
    float: right;
    background-color: #7826db;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    margin-block: 40px;
    border-radius: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #9557e1;
}

form button:disabled {
    background-color: #b4b2b7;
}

form button:disabled:hover {
    background-color: #cac9cd;
}

.survey-form-infos {
    width: 100%;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.survey-description {
    display: flex;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.survey-start {
    display: none;
}

@media (max-width: 768px) {
    .d-none {
        display: none;
    }
    .d-grid-5 {
        gap: 10px;
    }
}
@media (min-width: 768px) {
    .d-md-none {
        display: none;
    }

    .custom-radios {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin: 10px 0;
        justify-items: center;
    }

    .custom-radios input[type="radio"] + label p {
        display: none;
    }

    .d-grid-2,
    .statement-custom-radios {
        align-items: center;
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 10px;
        margin: 10px 0;
    }

    .d-grid-5 {
        align-items: center;
    }

    .survey-form-infos {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .wrap {
        max-width: 90%;
    }
}
@media (min-width: 992px) {
    .d-grid-2,
    .statement-custom-radios {
        grid-template-columns: 45% 55%;
    }
}

@media (min-width: 1280px) {
    .d-grid-2,
    .statement-custom-radios {
        grid-template-columns: 57% 43%;
    }
}
